<a href="https://colab.research.google.com/github/zyz99999/Homework/blob/master/week12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# iterables in python
prime_list = [2, 3, 5, 7, 11]
prime_tuple = (2, 3, 5, 7, 11)
weekdays_dict = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5
}
prime_set = {2, 3, 5, 7, 11}

In [2]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [3]:
I = iter(prime_list)
next(I)

2

In [4]:
I = iter(prime_tuple)
next(I)

2

In [5]:
I = iter(weekdays_dict)
next(I)

'Monday'

In [6]:
I = iter(weekdays_dict.keys())
next(I)

'Monday'

In [8]:
may4th = "Luke, use the Force!"
I = iter(may4th)
next(I)

'L'

In [9]:
for i in may4th:
    print(i)

L
u
k
e
,

u
s
e

t
h
e

F
o
r
c
e
!

In [10]:
may4th[0]
may4th[len(may4th)-1]

'!'

In [11]:
i = 0
while i < len(may4th):
    print(may4th[i])
    i += 1

L
u
k
e
,

u
s
e

t
h
e

F
o
r
c
e
!

In [12]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [13]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [14]:
print(list(range(0, 100, 2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [15]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [16]:
x = int(input("請輸入起始的正整數:"))
y = int(input("請輸入終止的正整數:"))
odds = []
for i in range(x, y+1):
    mod = i % 2
    if mod == 1:
        odds.append(i)
print(odds)

請輸入起始的正整數:13
請輸入終止的正整數:59
[13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59]

In [17]:
print(len(odds)) # 記數
print(sum(odds)) # 加總

24
864

In [18]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)
n_divisors = len(divisors)
if n_divisors == 2:
    print("{}是質數".format(x))
else:
    print("{}不是質數".format(x))

請輸入一個正整數:1
[1]
1不是質數

In [19]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)

請輸入一個正整數:59
[1, 59]

In [20]:
# random 產生 1 個隨機數
import random

random.randint(1, 1000)
# random 產生 100 個隨機數
random_integers = []
for i in range(100):
    rand_int = random.randint(1, 1000)
    random_integers.append(rand_int)
print(random_integers)
print(len(random_integers))
# 找出第一大與第一小的數字
print(max(random_integers))
print(min(random_integers))
# 找出第二大與第二小的數字
rand_int_unique = set(random_integers)
rand_int_unique_list = list(rand_int_unique)
print(rand_int_unique_list)
rand_int_unique_list.sort()
print(rand_int_unique_list[1])  # second min
print(rand_int_unique_list[-2]) # secomd max

[184, 264, 989, 449, 186, 32, 949, 627, 224, 501, 406, 408, 314, 552, 836, 419, 15, 121, 907, 261, 257, 756, 305, 922, 728, 579, 259, 898, 975, 903, 158, 156, 757, 837, 134, 302, 550, 814, 746, 888, 326, 445, 240, 829, 396, 611, 385, 363, 26, 972, 885, 284, 103, 861, 93, 681, 96, 600, 610, 412, 400, 799, 424, 475, 747, 144, 488, 99, 308, 830, 377, 578, 336, 255, 60, 191, 938, 76, 393, 147, 338, 983, 867, 537, 842, 708, 916, 803, 689, 855, 912, 793, 373, 43, 818, 376, 644, 450, 579, 688]
100
989
15
[15, 537, 26, 32, 550, 552, 43, 60, 578, 579, 76, 600, 93, 96, 610, 611, 99, 103, 627, 121, 644, 134, 144, 147, 156, 158, 681, 688, 689, 184, 186, 191, 708, 728, 224, 746, 747, 240, 756, 757, 255, 257, 259, 261, 264, 793, 284, 799, 803, 302, 814, 305, 818, 308, 314, 829, 830, 836, 837, 326, 842, 336, 338, 855, 861, 867, 363, 885, 373, 888, 377, 376, 385, 898, 903, 393, 907, 396, 400, 912, 916, 406, 408, 922, 412, 419, 424, 938, 949, 445, 449, 450, 972, 975, 983, 475, 989, 488, 501]
26
983

In [21]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
squared = []
for i in range(10):
    squared.append(i**2)
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
squared = [i**2 for i in range(10)]
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
odds_squared = []
for i in range(10):
    if i % 2 == 1:
        odds_squared.append(i**2)
print(odds_squared)

[1, 9, 25, 49, 81]

In [25]:
odds_squared = [i**2 for i in range(10) if i % 2 == 1]
print(odds_squared)

[1, 9, 25, 49, 81]

In [26]:
random_integers = [random.randint(1, 100) for i in range(20)]
is_odd_ints = []
for i in random_integers:
    if i % 2 == 1:
        is_odd_ints.append(True)
    else:
        is_odd_ints.append(False)
print(random_integers)
print(is_odd_ints)

[19, 77, 97, 56, 21, 100, 64, 18, 25, 88, 54, 50, 22, 4, 62, 1, 14, 20, 67, 29]
[True, True, True, False, True, False, False, False, True, False, False, False, False, False, False, True, False, False, True, True]

In [27]:
random_integers = [random.randint(1, 100) for i in range(20)]
is_odd_ints = [True if i % 2 == 1 else False for i in random_integers]
print(random_integers)
print(is_odd_ints)

[85, 4, 98, 60, 17, 20, 23, 52, 37, 36, 16, 3, 52, 38, 10, 17, 28, 12, 40, 32]
[True, False, False, False, True, False, True, False, True, False, False, True, False, False, False, True, False, False, False, False]

In [28]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable[, start]) -> iterator for index, value of iterable
 |
 |  Return an enumerate object.  iterable must be another object that supports
 |  iteration.  The enumerate object yields pairs containing a count (from
 |  start, which defaults to zero) and a value yielded by the iterable argument.
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [29]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for i, wd in enumerate(weekdays):
    print("{}:星期{}".format(wd, i+1))

Monday:星期1
Tuesday:星期2
Wednesday:星期3
Thursday:星期4
Friday:星期5

In [30]:
avengers = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
for idx, movie in enumerate(avengers):
    print("第 {} 部上映的復仇者聯盟電影:{}".format(idx+1, movie))

第 1 部上映的復仇者聯盟電影:The Avengers
第 2 部上映的復仇者聯盟電影:Avengers: Age of Ultron
第 3 部上映的復仇者聯盟電影:Avengers: Infinity War
第 4 部上映的復仇者聯盟電影:Avengers: Endgame

In [31]:
years = [2012, 2015, 2018, 2019]
for year, movie in zip(years, avengers):
    print("{}上映的年份是{}".format(movie, year))

The Avengers上映的年份是2012
Avengers: Age of Ultron上映的年份是2015
Avengers: Infinity War上映的年份是2018
Avengers: Endgame上映的年份是2019